#map path {
    stroke: #000;
    stroke-width: 1px;
    fill: white;
}

#map path.hasDataset {
    fill: #30397a;
}

#map path.hasDataset:hover, #map path.active {
    fill: #5d9e95;
    cursor: pointer;
}

#map {
  height: 500px;
}
