#map path {
  stroke: #fff;
  stroke-width: 2px;
  fill: #ddd;
}

#map path.region {
  fill: none;
  stroke: none;
}

#map path.has-dataset {
  cursor: pointer;
}

#map path.stroke-only {
  fill: none;
  stroke: #1a1f43;
}

#map path.region.has-dataset {
  fill: #6477ff;
  fill-opacity: 0.3;
}

#map path.region.has-dataset:hover {
  fill: #5d9e95;
  fill-opacity: 0.7;
}

#map path.district.has-dataset {
  fill: #30397a;
}

#map path.district.has-dataset:hover {
  fill: #5d9e95;
}
